@import url('https://fonts.googleapis.com/css2?family=Honk&family=Shrikhand&display=swap');
body{
    background-color: #3f6e9c;
}
.honk-font {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF"10,
        "SHLN"50;
}

.navbar {
    background-color: #3f6e9c;
}
.navbar-brand, .nav-link {
    color: #ff0; 
    font-size: 2rem;
}

.nav__titulo{
    font-size: 4rem;
    text-decoration: none;
}
#foot {
    color: #ff0;
}

#faqs {
    background-color: #3f6e9c;
    color: #fff;
}

.hero {
    background-color: #3f6e9c;
    color: #ff0;
    text-align: center;
}

.consiste,
.descanso,
.fases,
.inscribe,
.innicia {
    background-color: #3f6e9c;
    color: black;
    text-align: center;
}

.footer {
    background-color: #fff;
    color: #3f6e9c;
    text-align: center;
}

.card {
    height: 100%;
}

.event-info {
    background-color: #3f6e9c;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.event-info h2 {
    margin-bottom: 10px;
}

.horario {
    width: 100%;
    text-align: center;
}

.countdown {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.countdown div {
    padding: 10px;
}

#days,
#hours,
#minutes,
#seconds {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #3f6e9c;
    font-size: 2rem;
    font-weight: bold;
    background-color: #ff0;
}

span {
    display: block;
    margin-top: 10px;
    color: #74ffe7;
    font-size: 1.5rem;
    font-weight: 400;
}

.final-sms {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: ease-in-out 0.5s;
    background-color: #333;
    width: 100%;
}

.final-sms h2 {
    text-align: center;
    font-size: 60px;
    color: #fff;
    margin-bottom: 30px;
}

h1, h2 {
    color: #ff0;
}


.card-hover {
    transition: transform 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-15px);
    /* O el valor de desplazamiento que prefieras */
}

.hero__img{
    margin-top: 200px;
}

.list-group-item{
    background-color: #3f6e9c;
    color: #fff;
}

.degradado {
    background: linear-gradient(to bottom right, #3f6e9c, #ffd700); /* Azul a Amarillo */
    padding: 20px; /* Ajusta el espacio entre el contenido y el borde del degradado */
}

.card-title{
    font-size: 3rem;
}

/* Media query para dispositivos móviles y tablets */
@media (max-width: 992px) {
    #imagenHero {
      max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
      border-radius: 0; /* Quita el borde redondeado si se aplica en dispositivos más grandes */
      margin-top: 100px; /* Añade un margen superior para evitar que la imagen se tape con el navbar */
    }
  }

  @media (max-width: 992px) {
    .navbar.fixed-top {
      position: static;
    }
  
    body {
      padding-top: 70px; /* Altura aproximada del navbar */
    }
  
    #content {
      margin-top: 0; /* Eliminamos el margen superior */
    }
  }
  
  @media (max-width: 768px) {
    .container.text-center {
      display: flex;
      flex-direction: row; /* Cambiar de columna a fila */
      justify-content: center; /* Centrar los elementos horizontalmente */
      align-items: center; /* Centrar los elementos verticalmente */
    }
    
    .container.text-center img {
      max-width: 30%; /* Ajusta el tamaño del logo */
      margin-right: 10px; /* Agrega un margen derecho */
    }
    
    .container.text-center .honk-font a {
      font-size: 1.2rem; /* Tamaño de fuente más pequeño para el título */
    }
  }
  
  
  
  